.cube {
    transform-style: preserve-3d;
    transform-origin: center;
    margin: 200px auto 0;
    width: 90px;
    height: 90px;
}

.part {
    width: 26px;
    height: 26px;
    border: 2px solid black;
    position: absolute;
    border-radius: 0.01px;
}

.front > div { /*green side*/
    background-color: rgb(0, 128, 0);
}

.back > div { /*blue side*/
    background-color: rgb(0, 0, 255);
}

.up > div { /*white side*/
    background-color: rgb(255, 255, 255);
}

.down > div { /*yellow side*/
    background-color: rgb(255, 255, 0);
}

.right > div { /*red side*/
    background-color: rgb(255, 0, 0);
}

.left > div { /*orange side*/
    background-color: rgb(255, 140, 0);
}

/*Places the cube elements*/
/*front side as a 3x3 table (starting count from 1 and from bottom-left to top-right)*/
#f1 { /*square (x,y) = (1,1)*/
    transform: translate3d(0px, 0px, 45px);
}

#f2 { /*square (1,2)*/
    transform: translate3d(30px, 0px, 45px);
}

#f3 { /*square (1,3)*/
    transform: translate3d(60px, 0px, 45px);
}

#f4 { /*square (2,1)*/
    transform: translate3d(0px, 30px, 45px);
}

#f5 { /*square (2,2)*/
    transform: translate3d(30px, 30px, 45px);
}

#f6 { /*square (2,3)*/
    transform: translate3d(60px, 30px, 45px);
}

#f7 { /*square (3,1)*/
    transform: translate3d(0px, 60px, 45px);
}

#f8 { /*square (3,2)*/
    transform: translate3d(30px, 60px, 45px);
}

#f9 { /*square (3,3)*/
    transform: translate3d(60px, 60px, 45px);
}

/*back side*/
#b1 {
    transform: translate3d(60px, 0px, -45px);
}

#b2 {
    transform: translate3d(30px, 0px, -45px);
}

#b3 {
    transform: translate3d(0px, 0px, -45px);
}

#b4 {
    transform: translate3d(60px, 30px, -45px);
}

#b5 {
    transform: translate3d(30px, 30px, -45px);
}

#b6 {
    transform: translate3d(0px, 30px, -45px);
}

#b7 {
    transform: translate3d(60px, 60px, -45px);
}

#b8 {
    transform: translate3d(30px, 60px, -45px);
}

#b9 {
    transform: translate3d(0px, 60px, -45px);
}

/*right side*/
#r1 {
    transform: rotateY(90deg) translate3d(30px, 0px, 75px);
}

#r2 {
    transform: rotateY(90deg) translate3d(0px, 0px, 75px);
}

#r3 {
    transform: rotateY(90deg) translate3d(-30px, 0px, 75px);
}

#r4 {
    transform: rotateY(90deg) translate3d(30px, 30px, 75px);
}

#r5 {
    transform: rotateY(90deg) translate3d(0px, 30px, 75px);
}

#r6 {
    transform: rotateY(90deg) translate3d(-30px, 30px, 75px);
}

#r7 {
    transform: rotateY(90deg) translate3d(30px, 60px, 75px);
}

#r8 {
    transform: rotateY(90deg) translate3d(0px, 60px, 75px);
}

#r9 {
    transform: rotateY(90deg) translate3d(-30px, 60px, 75px);
}

/*left side*/
#l1 {
    transform: rotateY(90deg) translate3d(-30px, 0px, -15px);
}

#l2 {
    transform: rotateY(90deg) translate3d(0px, 0px, -15px);
}

#l3 {
    transform: rotateY(90deg) translate3d(30px, 0px, -15px);
}

#l4 {
    transform: rotateY(90deg) translate3d(-30px, 30px, -15px);
}

#l5 {
    transform: rotateY(90deg) translate3d(0px, 30px, -15px);
}

#l6 {
    transform: rotateY(90deg) translate3d(30px, 30px, -15px);
}

#l7 {
    transform: rotateY(90deg) translate3d(-30px, 60px, -15px);
}

#l8 {
    transform: rotateY(90deg) translate3d(0px, 60px, -15px);
}

#l9 {
    transform: rotateY(90deg) translate3d(30px, 60px, -15px);
}

/*upper side*/
#u1 {
    transform: rotateX(90deg) translate3d(0px, -30px, 15px);
}

#u2 {
    transform: rotateX(90deg) translate3d(30px, -30px, 15px);
}

#u3 {
    transform: rotateX(90deg) translate3d(60px, -30px, 15px);
}

#u4 {
    transform: rotateX(90deg) translate3d(0px, 0px, 15px);
}

#u5 {
    transform: rotateX(90deg) translate3d(30px, 0px, 15px);
}

#u6 {
    transform: rotateX(90deg) translate3d(60px, 0px, 15px);
}

#u7 {
    transform: rotateX(90deg) translate3d(0px, 30px, 15px);
}

#u8 {
    transform: rotateX(90deg) translate3d(30px, 30px, 15px);
}

#u9 {
    transform: rotateX(90deg) translate3d(60px, 30px, 15px);
}

/*bottom side (down)*/
#d1 {
    transform: rotateX(90deg) translate3d(0px, 30px, -75px);
}

#d2 {
    transform: rotateX(90deg) translate3d(30px, 30px, -75px);
}

#d3 {
    transform: rotateX(90deg) translate3d(60px, 30px, -75px);
}

#d4 {
    transform: rotateX(90deg) translate3d(0px, 0px, -75px);
}

#d5 {
    transform: rotateX(90deg) translate3d(30px, 0px, -75px);
}

#d6 {
    transform: rotateX(90deg) translate3d(60px, 0px, -75px);
}

#d7 {
    transform: rotateX(90deg) translate3d(0px, -30px, -75px);
}

#d8 {
    transform: rotateX(90deg) translate3d(30px, -30px, -75px);
}

#d9 {
    transform: rotateX(90deg) translate3d(60px, -30px, -75px);
}

@media screen and (max-width:1000px) {
    .cube {
        margin: 24vh auto 0;
    }
}
