* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-image: radial-gradient(rgb(80, 80, 80), black);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    line-height: 1.4rem;
    border-spacing: 5px;
    text-align: center;
}

th,
td {
    padding: 4px;
}

.table-container {
  display: flex;
  justify-content: space-between;
}

button {
    color: white;
    background-color: transparent;
    border-radius: 5px;
}

.buttons {
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3.5fr 5fr;
  padding-top: 2.5rem;
  position: relative;
}

.sub-buttons button {
  margin: 3%;
}
.face-btn {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
}
.main-btn {
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.face-prime-btn {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 2fr;
}
.view-btn {
  margin: 20% 20%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}
.misc-btn {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.misc-btn button {
  font-size: 10px;
}
.btn-title {
  grid-column: 1/3;
  font-size: 0.8rem;
  font-weight: normal;
  color: rgb(160, 160, 160);
}
.hide {
  display: none;
}
.copyright {
  font-size: 12px;
}
.left {
  grid-row: 2/3;
  grid-column: 1/2;
}
.right {
  grid-row: 2/3;
  grid-column: 2/3;
}
.up {
  grid-row: 3/4;
  grid-column: 1/2;
}
.down {
  grid-row: 3/4;
  grid-column: 2/3;
}
.front {
  grid-row: 4/5;
  grid-column: 1/2;
}
.back {
  grid-row: 4/5;
  grid-column: 2/3;
}
@media screen and (min-width: 650px) {
  footer {
    position: absolute;
    bottom: 0;
  }
  footer div {
    width: 100vw;
  }
  #sequence {
    position: relative;
  }
  #seq {
    width: 100vw;
    position: absolute;
    top: 18rem;
  }
}
@media screen and (max-width: 650px) {
  body {
    display: grid;
    grid-template-rows: 5fr 1fr 5fr;
    height: 100vh;
  }
  table {
    visibility: hidden;
  }
  .cube {
    grid-row: 1/2;
  }
  .buttons {
    visibility: visible;
    grid-row: 3/4;
  }
  .table-container{
    display: none;
  }
  #sequence {
    grid-row: 2/3;
    align-items: center;
    position: relative;
  }
  #seq {
    font-size: 1rem;
    font-weight: lighter;
    position: absolute;
    bottom: 5rem;
    width: 100%;
  }
}
