* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Merriweather', serif;
}

body {
    background-image: radial-gradient(rgb(80, 80, 80), black);
    background-repeat: no-repeat;
    height: 60vh;
}

#sequence {
    font-size: larger;
    text-align: center;
}

.instructions {
    position: absolute;
    right: 10px;
    top: 150px;
    line-height: 1.4rem;
    text-align: center;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    border-spacing: 5px;
}

.copyright {
    position: absolute;
    bottom: 0;
    font-size: 12px;
}